div{ border: 1px solid brown; }
main{
border:  1px solid black;
width: auto;
height: 40%;
overflow: hidden;
width: auto;
height: 20%;
margin: auto;
}

#content-logo {
  border: 1px solid gray;
  width: 70px auto;
  height: 30px;
  float: left;
}
#content-logo img{
height: 30px;
width: 80px;
float: right;
margin: 0em;
}
#content-menu{
  border: 1px solid black;
  float: right;
  height: 30px;
  width: auto;
}
a:hover {
  background: #3ead47;
  padding: 10px;
  margin: 0em;
}

#content-menu nav{
  padding: 7px;
  margin: 0em;
}

#buscador{
  border: 0.5px solid black;
  float: right;
  width: auto;
  height: 30px;
}
#buscador input{
  height: 30px;
}
#buscador img{ max-width: 100%;}
.lupa{
  height: 30px;
  width: 30px;
  float: right;
  margin: 0em;

}



#content-banner{
 
  border: 2px solid red;
  width: 600px;
  height: 250px;
  padding: 30px;
}
#banner img{
  width: 600px;
  height: 250px;

}

/*borde del contenido */
#content {
  border: 1px solid red;
  width: auto;
}
/*acaba el contenido */

/* titulo de contenido */
#content h1
{ text-align: center;}
/*acaba el contenido */

/* anchura de bloques */
.box{
  display:inline-block;
  top: 30%;
  width: 150px;
  margin:1em;
}
/* bloques*/

/*borde  series-recientes*/
#series-recientes{
  border: 1px solid purple;
  text-align: center;
}
/*acaba series-recientes*/

/*fondo color y texto footer */
#footer{

    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white ;
    color: black;
    text-align: center;
}
/*acaba footer*/

.clearfix { clear: both; }

/* imagnes */
.box img {
  max-width: 100%;
}

/* Fa icons */

.fa {
   padding: 20px;
   width: 50px;
   text-decoration: none;
  }

/* color Facebook */
.fa-facebook {
   background: #3B5998;
   color: white;
}

/* color Twitter */
.fa-twitter {
   background: #55ACEE;
   color: white;
}
