div{ border: 1px solid brown; }
#header{
border:  1px solid black;
width: auto;
overflow: hidden;
width: auto;
height: 20%

}
 #content-logo{
  border: 1px solid gray;
  width: 20%;
  float: left;
}
.logo{
  border: 1px solid black
}

}



#banner{
  border: 2px solid red;
}





#content {
  border: 1px solid red;
  width: auto;

}
.box{
  display:inline-block;
  
  top: 14%;
  width: 150px;
  height:100px;
  margin:1em;
}




#comentarios{
  border: 1px solid black;
}
#series-recientes{
  border: 2px solid purple;
}
#footer{
  border: 1px solid green;
  width: auto;
}
